<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.min.js'></script>


<html>
    <h1>Current Project Commitments</h1>
    <table>
        <tr class="background-grey">
            <th>Name<br />Position</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
            <th>January</th>
            <th>February</th>
        </tr>
        {{#commitments}}
           <tr>
               <td>{{name}}<br />{{role}}</td>
               <td>{{sep}}</td>
               <td>{{oct}}</td>
               <td>{{nov}}</td>
               <td>{{dec}}</td>
               <td>{{jan}}</td>
               <td>{{feb}}</td>
           </tr>
        {{/commitments}}
    </table>
</html>